@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: #128a45;
}

.blackjack-image-header {
  background-image: url('./images/blackjack.jpeg');
  height: 10rem;
  background-size: cover;
}

.displayWinner {
  font-size: 25px;
  color: #d59652;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.font {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.hit {
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgb(67, 167, 67);
  font-size: 16px;
  padding: 15px;
  border: 1px solid black;
}

.hit:hover {
  background-color: rgb(81, 204, 81);
  color: black;
}

.stay {
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgb(67, 167, 67);
  font-size: 16px;
  padding: 15px;
  border: 1px solid black;
}

.stay:hover {
  background-color: rgb(81, 204, 81);
  color: black;
}

.play-again {
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgb(67, 167, 67);
  font-size: 16px;
  padding: 15px;
  border: 1px solid black;
}

.play-again:hover {
  background-color: rgb(81, 204, 81);
  color: black;
}

.playerHandTotal {
  margin: 0;
}